---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">All Projects</div>
  </div>
  <HorizontalCard
    title="Tubeify"
    img="/tubeify.png"
    p1="Summarize YouTube videos ( Currently beta version is live which uses OpenAI API )."
    p2="Built with Latest version of Next Js, Tailwind CSS and Shadcn UI ( base version is utilizing fintuned Flan-T5 model with the help of Django )."
    p3="Goal is to help students to save their time and learn more effectively."
    github="https://github.com/TusharPuri10/Tubeify"
    live="https://tubeify.vercel.app/"
    desc=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Cloudstash"
    img="/cloudstash.png"
    p1="Manage and share your digital assets."
    p2="Leverages the power of React Three Fiber, Next.js, TypeScript and AWS S3."
    p3="Goal is to provide secure and beautiful alternative to Google Drive and Dropbox."
    desc=""
    github="https://github.com/TusharPuri10/cloudstash"
    live="https://cloudstash-tusharpuri10.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="MoodMeter"
    img="/twitterDepression.png"
    p1="Analyze depressive tweets using LSTM neural network. (Model is ready to be deployed)"
    p2="Built on Flask, React Js, Firebase and Keras & TensorFlow"
    p3="Goal is to explore how people express their emotions related to depression on social media and to identify patterns and trends in their language usage."
    desc=""
    github="https://github.com/TusharPuri10/DepressiveTweetsAnalysis"
    live="https://mood-meter-one.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nextjs-reCAPTCHA-v2-template"
    img="/recaptcha.png"
    p1="Template website of reCaptcha V2 for enhanced security."
    p2="Utilizes Latest version of Next Js, Tailwind CSS and Shadcn UI."
    p3="Goal is to give starting point for developers."
    desc=""
    github="https://github.com/TusharPuri10/nextjs-reCAPTCHA-v2-template"
    live="https://nextjs-re-captcha-v2-template.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Linkedin Scraping"
  img="/linkedinscraping.png"
  p1="Scraped more than 500 Linkedin Profiles"
  p2="Used selenium & google colab."
  p3="Goal was to get top 100 linkedin profiles containing E-Commerce Terms (out of given 972 linkedin urls)."
  desc=""
  colab="https://colab.research.google.com/drive/1-aQ53EIwld1_xyiAgYgHChHk4XxfoMvt?usp=sharing"
/>
<div class="divider my-0"></div>
  <HorizontalCard
    title="Todo Website"
    img="/todo.png"
    p1="Simple Todo app."
    p2="Built with React, Recoil, and Material-UI (MUI)."
    p3="Goal was to learn How to design a website."
    desc=""
    github="https://github.com/TusharPuri10/TodoApp"
    live="https://todo-app-kappa-navy.vercel.app/"
  />
  <div class="divider my-0"></div>
</BaseLayout>
